## Importing, cleaning and exporting flight data

- Importing flight data from csv file obtained from https://www.flightradar24.com/data/airports/fra/statistics
- Contains number of scheduled and tracked flights from **18.05.2020 to 16.06.2020**
- We assume that the scheduled flights are similar to the number of flights that actually flew for the same time in 2019
- We assume that the decrease in tracked flights is due to Covid-19

In [1]:
# Importing modules for data extraction and display.

import pandas as pd

In [2]:
# Importing frankfurt_scheduled_vs_tracked.csv file into notebook.

data_path = '../data/frankfurt_scheduled_vs_tracked.csv'

df = pd.read_csv(data_path)
df

      DateTime  Scheduled flights  Tracked flights
0   2020-05-18                127               87
1   2020-05-19                116               73
2   2020-05-20                128               86
3   2020-05-21                135               85
4   2020-05-22                140               95
5   2020-05-23                126               84
6   2020-05-24                138               89
7   2020-05-25                187               91
8   2020-05-26                173               79
9   2020-05-27                191               87
10  2020-05-28                185               92
11  2020-05-29                204               94
12  2020-05-30                184               89
13  2020-05-31                198               86
14  2020-06-01                223              104
15  2020-06-02                216               88
16  2020-06-03                243              108
17  2020-06-04                230               99
18  2020-06-05                236              111
19  2020-06-06                192              102
20  2020-06-07                200              107
21  2020-06-08                182              105
22  2020-06-09                160               88
23  2020-06-10                205              109
24  2020-06-11                200              113
25  2020-06-12                219              124
26  2020-06-13                186              113
27  2020-06-14                208              121
28  2020-06-15                217              128
29  2020-06-16                207              119

In [3]:
# Checking data information and data types.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DateTime           30 non-null     object
 1   Scheduled flights  30 non-null     int64
 2   Tracked flights    30 non-null     int64
dtypes: int64(2), object(1)
memory usage: 848.0+ bytes

In [9]:
# Converting column "DateTime" values to datetime dtype and renaming columns to get rid of whitespace.

def rename_cols(df):
    df.columns = ['date', 'scheduled_flights', 'tracked_flights']
    return df

## Split data into flights_2019 (scheduled) and flights_2020 (tracked)

- Don't forget to change the year of flights_2019

In [11]:
# Creating flights_2019 and changing year in 'date' column.
# Used original df column 'DateTime' values, because they are still strings

def get_2019(df):
    df_2019 = df[['date','scheduled_flights']]
    df_2019['date'] = df.loc[:, 'date'].str.replace('2020', '2019')
    return df_2019

In [6]:
# Creating dataframe for flights_2020

def get_2020(df):
    df_2020 = df[['date','tracked_flights']]
    return df_2020

In [7]:
# Renaming 'DateTime' to 'date', because there is no time included.

def change_to_datetime(df):
    df = df.astype({'date': 'datetime64'})
    return df

In [24]:
# Putting everything into a function

def split_flight_data(csv_path):
    df = pd.read_csv(csv_path)
    df = rename_cols(df)
    
    df1 = get_2019(df)
    df2 = get_2020(df)
    
    change_to_datetime(df1)
    change_to_datetime(df2)
    
    return df1, df2
    
flights_2019, flights_2020 = split_flight_data(data_path)

<ipython-input-11-fa3a9dd235b2>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019['date'] = df.loc[:, 'date'].str.replace('2020', '2019')

In [15]:
flights_2019

          date  scheduled_flights
0   2019-05-18                127
1   2019-05-19                116
2   2019-05-20                128
3   2019-05-21                135
4   2019-05-22                140
5   2019-05-23                126
6   2019-05-24                138
7   2019-05-25                187
8   2019-05-26                173
9   2019-05-27                191
10  2019-05-28                185
11  2019-05-29                204
12  2019-05-30                184
13  2019-05-31                198
14  2019-06-01                223
15  2019-06-02                216
16  2019-06-03                243
17  2019-06-04                230
18  2019-06-05                236
19  2019-06-06                192
20  2019-06-07                200
21  2019-06-08                182
22  2019-06-09                160
23  2019-06-10                205
24  2019-06-11                200
25  2019-06-12                219
26  2019-06-13                186
27  2019-06-14                208
28  2019-06-15                217
29  2019-06-16                207

In [16]:
flights_2020

          date  tracked_flights
0   2020-05-18               87
1   2020-05-19               73
2   2020-05-20               86
3   2020-05-21               85
4   2020-05-22               95
5   2020-05-23               84
6   2020-05-24               89
7   2020-05-25               91
8   2020-05-26               79
9   2020-05-27               87
10  2020-05-28               92
11  2020-05-29               94
12  2020-05-30               89
13  2020-05-31               86
14  2020-06-01              104
15  2020-06-02               88
16  2020-06-03              108
17  2020-06-04               99
18  2020-06-05              111
19  2020-06-06              102
20  2020-06-07              107
21  2020-06-08              105
22  2020-06-09               88
23  2020-06-10              109
24  2020-06-11              113
25  2020-06-12              124
26  2020-06-13              113
27  2020-06-14              121
28  2020-06-15              128
29  2020-06-16              119

In [27]:
# export 2 clean dataframes to separate json files

flights_2019.to_json('../data/clean_frankfurt_flight_2019.json')
flights_2020.to_json('../data/clean_frankfurt_flight_2020.json')